.navbar {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5em;
    color: #fff;
    padding-right: 20px;  
}

.navbar-brand a {
    color: #fff;
    text-decoration: none;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 10px;
    position: relative;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    background-color: #555;
    border-radius: 4px;
}

.nav-item.dropdown .nav-link {
    cursor: pointer;
}

.dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    list-style: none;
}

.dropdown-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.dropdown-link:hover {
    background-color: #555;
    border-radius: 4px;
}

.nav-link .faUser {
    margin-right: 5px;
}

.navbar-nav .nav-item:last-child {
    padding-right: 20px;  
}
